[tool.black]
line-length = 100
include = '\.pyi?$'
exclude = '''
/(
    \.git
  | \.mypy_cache
  | \.tox
  | \.venv
  | _build
  | build
  | dist
)/
'''

[tool.isort]
profile = "black"
line_length = 100

[tool.pylsp-mypy]
enabled = true
live_mode = false
strict = false

[tool.mypy]
python_version = "3.9"
plugins = ["numpy.typing.mypy_plugin"]

[[tool.mypy.overrides]]
module = "pyopencl.*"
ignore_missing_imports = true
